.showMore{
    display: flex;
    justify-content: center;
    padding: 32px;
    .showMoreText{
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        color: #00A0AB;
    }
    .errorBlock{
        p{
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 14.4px;
            line-height: 17px;
            /* identical to box height */

            text-align: center;

            color: #8F8F8F;
        }
        button{
            background: transparent;
            border: none;
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: right;
            color: #00A0AB;
            margin-top: 18px;
        }
    }
    .loader {
        border: 5px solid #f3f3f3;
        border-top: 5px solid #ABCFD0;
        border-radius: 50%;
        width: 33px;
        height: 33px;
        animation: spin 2s linear infinite;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
}